.line2 {
    fill: none;
    stroke: #e00007;
    stroke-width: 2px;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px "SFMono-Regular",Consolas,"Liberation Mono",Menlo,monospace;
        line-height: normal;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #d1d5da;
        border-bottom-color: rgb(209, 213, 218);
    border-bottom-color: #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
}

.ul-menu {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    margin-bottom: 0px;
}

#histogram-notification {display : inline-block; }
#slider-range { display : inline-block; width : 8em; }
#slider-range-single { display : inline-block; width : 8em; }
#threshold-slider-range { display : inline-block; width : 8em; }
.default-slider-range { display : inline-block; width : 8em; }

#legend-slider-top { display : inline-block; width : 15.2em; height: 4px; position: absolute;top: 3px;  /* -168px; 2px; */ right: 1px;}
#legend-custom-handle-top { 
    height: 0.8em; 
    display: flex;
    width: 1.8em;
    justify-content: center;
    align-items: center;}

#legend-slider-right {     
    display: inline-block;
    width: 4px;
    height: 158px;
    position: absolute;
    top: 6px;
    right: 1px;}

hr {
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
#legend-custom-handle-right { 
    height: 0.8em; 
    margin-left: -9px;
    width: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center; }

html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden ;
}

li {
    height: 28px;
}

#RendererContainer {
    position: relative;
}

.dg.main {
    position: absolute;
    top:0;
    right:0;
}

.color-default {
    fill: #ffffff;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-blue-0 {
    fill: #edf8e9;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-blue-1 {
    fill: #bae4b3;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-blue-2 {
    fill: #74c476;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-blue-3 {
    fill: #31a354;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-blue-4 {
    fill: #006d2c;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-gray-0 {
    fill: #f7f7f7 ;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-gray-1 {
    fill: #d9d9d9 ;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-gray-2 {
    fill: #bdbdbd ;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-gray-3 {
    fill: #969696 ;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-gray-4 {
    fill: #636363 ;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-red-0 {
    fill: #fee5d9;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-red-1 {
    fill: #fcae91;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-red-2 {
    fill: #fb6a4a;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-red-3 {
    fill: #de2d26;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-red-4 {
    fill: #a50f15;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-green-0 {
    fill: #eff3ff;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-green-1 {
    fill: #bdd7e7;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-green-2 {
    fill: #6baed6;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-green-3 {
    fill: #3182bd;
    stroke-width: 0.15 ;
    stroke: black ;
}

.color-green-4 {
    fill: #08519c;
    stroke-width: 0.15 ;
    stroke: black ;
}

.nospace {
    display: none;
}

.bin {
    stroke-width: 0.2 ;
    stroke: black ;
}

.sdm-bin {
    stroke-width: 0.2 ;
    stroke: black ;
}

.sdm-vertical-bin {
    stroke-width: 0.2 ;
    stroke: black ;
}

.histogram_legend_boundary {
    position: absolute;
    top: 3px;  /* -168px; 2px; */
    right: 1px;
    background: white;
    border: thin dotted gray;
}

.histogram_viz_boundary {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.tooltipsHist {
    background: white;
    opacity: 0.8 ;
    color: white ;
    border-radius: 2px ;
    position: absolute ;
    z-index: 10 ;
    visibility: hidden
}

.tooltipsBoxplot {
    background: black;
    opacity: 0.8 ;
    color: white ;
    border-radius: 2px ;
    padding: 4px;
    position: absolute ;
    z-index: 10 ;
    visibility: hidden ;
    font-size: 14px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.y.axis path {
    display: none;
}
.overlay1 {
    fill: none;
    stroke: none;
    pointer-events: all;
}
.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}
.focusCircle {
    fill: red;
}
.brush {
    width: 500px;
}
div.inline {
    float: left;
}
.clearBoth {
    clear: both;
}
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}

.active-d3-item-line {
    cursor: pointer;
    stroke: magenta;
    stroke-width: 4;
}

.inactive-d3-item-line {
    stroke: #111;
    stroke-width: 3;
}

.active-d3-item-line2 {
    cursor: pointer;
    stroke: magenta;
    stroke-width: 4;
}

.inactive-d3-item-line2 {
    stroke: #111;
    stroke-width: 3;
    opacity: 0.3;
}