.line2 {
    fill: none;
    stroke: #e00007;
;
    stroke-width: 2px;
}

.nospace {
    display: none;
}

.bin {
    stroke-width: 0.2 ;
    stroke: black ;
}

.sdm-bin {
    stroke-width: 0.2 ;
    stroke: black ;
}

.sdm-vertical-bin {
    stroke-width: 0.2 ;
    stroke: black ;
}

.histogram_legend_boundary {
    position: absolute; 
    top: -64px;
    right: 12px;
}

.histogram_viz_boundary {
    width: 100%;
    border: thin dotted gray;
    padding-top: 10px;
    padding-bottom: 5px;
}

.tooltipsHist {
    background: white;
    opacity: 0.8 ;
    color: white ;
    border-radius: 5px ;
    position: absolute ;
    z-index: 10 ;
    visibility: hidden
}

.tooltipsBoxplot {
    background: black;
    opacity: 0.6 ;
    color: white ;
    border-radius: 5px ;
    padding: 10px;
    position: absolute ;
    z-index: 10 ;
    visibility: hidden
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.y.axis path {
    display: none;
}
.overlay1 {
    fill: none;
    stroke: none;
    pointer-events: all;
}
.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}
.focusCircle {
    fill: red;
}
.brush {
    width: 500px;
}
div.inline {
    float: left;
}
.clearBoth {
    clear: both;
}
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}

.active-d3-item-line {
    cursor: pointer;
    stroke: magenta;
    stroke-width: 4;
}

.inactive-d3-item-line {
    stroke: #0b2e13;
    stroke-width: 3;
}