.line2 {
    fill: none;
    stroke: #e00007;
;
    stroke-width: 2px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.y.axis path {
    display: none;
}
.overlay1 {
    fill: none;
    stroke: none;
    pointer-events: all;
}
.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}
.focusCircle {
    fill: red;
}
.brush {
    width: 500px;
}
div.inline {
    float: left;
}
.clearBoth {
    clear: both;
}
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}

.active-d3-item-line {
    cursor: pointer;
    stroke: magenta;
    stroke-width: 4;
}

.inactive-d3-item-line {
    stroke: #0b2e13;
    stroke-width: 3;
}